footer {
    background-color: rgb(165, 165, 165);
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #333;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
